* {
    box-sizing: border-box;
}


@font-face {
    font-family: paragraph;
    src: url(fonts/exo2-lightitalic-webfont.woff2) format("woff2");
    src: url(fonts/exo2-lightitalic-webfont.woff) format("woff"); 
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: "label";
    src: url(fonts/good_times_rg-webfont.woff2) format("woff2"),
         url(fonts/good_times_rg-webfont.woff) format("woff");
    font-size: normal;
    font-weight: normal;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

.background {
    background-image: url(pexels-apasaric-2603464.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0; 
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: lightgrey;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


fieldset {
    appearance: none;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    gap: 25px;
    max-width: 600px;
    justify-content: center;
    border: none;
}

legend {
    text-align: center;
    margin-bottom: 5%;
    font-family: "label";
}

label {
    display: flex;
    font-family: "label";
    font-size: small;
    margin-bottom: 5px;;
}

form {
    appearance: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: paragraph;
    padding: 2em;
    margin: 0;
    text-align: center;
}

input {
    appearance: none;
    height: 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}


@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}

button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 50%;
    height: 2rem;
    font-family: "label";
    font-size: 0.9em;
    text-wrap: nowrap;
    min-width: fit-content;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: springgreen;
}

footer {
    text-align: center;
    margin-top: auto;
    font-family: "paragraph";
    font-size: normal;
    color: black;
    padding: 15px;
}

footer > a {
    color: white;
}

.footer:visited {
    color: white;
}

input:focus {
    outline: none;
    border: 1px solid blue;
}

input:focus:valid {
    border: 1px solid springgreen;
}

input:focus:invalid {
    border: 1px solid red;
}


#lname:focus {
    outline: none;
    border: 1px solid blue;
}


p > a {
    text-decoration: none;
}
